.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.keyboardRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    margin: 0.1em;
    border: 2px rgba(0,0,0,0) solid;
    padding: 0.3em;
}

.special-key {
    width: max-content;
}

.unguessed-key {
    color: black;
    background-color: #D3D3D3;
}

.outOfPosition-key {
    color: white;
    background-color: #F2B949;
}

.correct-key {
    color: white;
    background-color: #50C878;
}

.notInWord-key {
    color: white;
    background-color: #898989;
}