:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --letterbox-width: min(calc(19vw - 0.7rem), 4rem);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#root {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px #D3D3D3 solid;
  width: 100%;
  padding: 1rem 0;
}

.header > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.score {
  display: flex;
  flex-direction: row;
}

.gamePanel {
  flex: 7;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gamePanel > * {
  margin: 0.5rem 0
}

.keyboard {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.wordRowPanel {
  flex: 2;
}

.keyboardRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  margin: 0.1em;
  border: 2px rgba(0,0,0,0) solid;
  padding: 0.1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  width: min(calc(8vw + 0.1em), 3rem);
  height: 4rem;
  font-size: 1.2rem;
}

.key:active {
  filter: brightness(85%);
}

.enter-key {
  font-size: 0.9rem;
}

.special-key {
  flex: 2;
}

.unguessed-key {
  color: black;
  background-color: #DEDEDE;
}

.outOfPosition-key {
  color: white;
  background-color: #F2B949;
}

.correct-key {
  color: white;
  background-color: #50C878;
}

.notInWord-key {
  color: white;
  background-color: #898989;
}

.wordRowPanelGuesses {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
}

.wordRow {
  display: flex;
  justify-content: center;
  height: var(--letterbox-width);
  font-size: 1.2rem;
}

.letterbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.2rem;
	aspect-ratio: 1 / 1;
	font-weight: 700;
}

.unfilled {
	border: #D3D3D3 solid;
}

.ghost {
  border: #D3D3D359 solid;
}

.unguessed {
	border: #4A4A4A solid;
  animation: popFrames 100ms ease 1;
}

.guessed {
	color: white;
	border: rgba(0,0,0,0) solid;
}

.outOfPosition {
	background-color: #F2B949;
}

.correct {
	background-color: #50C878;
}

.notInWord {
  background-color: #898989;
}

.floatMenu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a4f;
  width: 100vw;
  height: 100vh;
}

.floatDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.2rem;
}

.floatDialog > * {
  margin: 1rem;
}

.floatDialogDescription {
  max-width: 30rem;
}

.startButton {
  padding: 1rem;
  font-size: 2rem;
  border: 0px;
  border-radius: 0.2rem;
  background-color: #50C878;
  color: white;
  cursor: pointer;
}

.startButton:active {
  filter: brightness(85%);
}

.floatGrid {
  display: grid;
  place-items: center;
}

.floatGrid > * {
  grid-area: 1 / 1 / 2 / 2;
}

.errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4A4A4A;
  color: white;
  height: 75%;
  width: 50%;
  border-radius: 0.5rem;
  font-weight: 700;
  z-index: 1;
}

@keyframes popFrames {
  0%, 100% {
    transform-origin: 50% 50%;
  }

  50% {
    transform: scale(1.1, 1.1)
  }
}

.wobble {
  animation: wobbleFrames 500ms ease normal;
}

@keyframes wobbleFrames {
	0%, 100% {
		transform: translateX(0%);
		transform-origin: 0% 0%;
	}

	15% {
		transform: translateX(-8px);
	}

	30% {
		transform: translateX(calc(8px / 2));
	}

	45% {
		transform: translateX(calc(-8px / 2));
	}

	60% {
		transform: translateX(calc(8px / 3.3));
	}

	75% {
		transform: translateX(calc(-8px / 5.5));
	}
}